%basic_card {
  border-radius : 25px;
  height:100px !important;
  width:100px !important;
}

%card_file {
  background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
}

.card {
  cursor: pointer;
  height:100px;
	width:100px;
	margin :10px;
  &--active {
    cursor: not-allowed;
  }
}

.backCard {
  border-radius : 25px;
  background-image: url('card_back.png');
  background-repeat: no-repeat;
  background-position: center;
}

$card-names: (
"apple":0,
"banana":-100,
"apricot":-200,
"greenlime":-300,
"grenade":-400,
"peach":-500,
"lime":-600,
"fraise":-700,
"pommeverte":-800,
"peachorange":-900,
"raisin":-1000,
"pasteque":-1100,
"prune":-1200,
"poire":-1300,
"cerise":-1400,
"framboise":-1500,
"mangue":-1600,
"cerisejaune":-1700);

@each $name, $position in $card-names {

  .card--#{$name} {
    @extend %basic_card;
    @extend %card_file;
    
    background-position: 0px #{$position}px;
  }

}
