%basic_card {
  border-radius : 25px;
  height:100px !important;
  width:100px !important;
}

%card_file {
  background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
}

.card {
  cursor: pointer;
  height:100px;
	width:100px;
	margin :10px;
}

.card--front {
  border-radius : 25px;
  background-image: url('card_back.png');
  background-repeat: no-repeat;
  background-position: center;
}

$card-names: (
"Apple":0,
"Banana":-100,
"Apricot":-200,
"GreenLime":-300,
"Grenade":-400,
"Peach":-500,
"Lime":-600,
"Fraise":-700,
"PommeVerte":-800,
"PeachOrange":-900,
"Raisin":-1000,
"Pasteque":-1100,
"Prune":-1200,
"Poire":-1300,
"Cerise":-1400,
"Framboise":-1500,
"Mangue":-1600,
"CeriseJaune":-1700);

@each $name, $position in $card-names {

  .card--#{$name} {
    @extend %basic_card;
    @extend %card_file;
    
    background-position: 0px #{$position}px;
  }

}
