%basic_card {
  border-radius : 25px;
  height:100px !important;
  width:100px !important;
}

%card_file {
  background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
}

%card-border-radius {
  border-radius : 25px;
}

$card-height : 100px;

body {
  display: flex;
  justify-content : center;
  background: #222f3e;
  color: white;
}
.text--aucun-score {
  font-style: italic;
}

/*
Mise en forme des cartes
*/
.card {
  @extend %card-border-radius;
  cursor: pointer;
  height:$card-height;
	width:100px;
	
  &--active {
    cursor: not-allowed;
  }
}

.backCard {
  @extend %card-border-radius;
  background-image: url('card_back.png');
  background-repeat: no-repeat;
  background-position: center;
}

$card-names: (
"apple":0,
"banana":-100,
"apricot":-200,
"greenlime":-300,
"grenade":-400,
"peach":-500,
"lime":-600,
"fraise":-700,
"pommeverte":-800,
"peachorange":-900,
"raisin":-1000,
"pasteque":-1100,
"prune":-1200,
"poire":-1300,
"cerise":-1400,
"framboise":-1500,
"mangue":-1600,
"cerisejaune":-1700);

@each $name, $position in $card-names {

  .card--#{$name} {
    @extend %basic_card;
    @extend %card_file;
    
    background-position: 0px #{$position}px;
  }

}

// 4 cartes de haut donc le barre de progression fait 4 fois cette hauteur
$countdown-height : $card-height * 4;

.progressBar {
  &--back {
    height: $countdown-height;
    background-color: #576574;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
  }
  &--color {
    height: $countdown-height;
    //background-color: #ee5253;
    background: rgb(238,82,83);
    background: linear-gradient(0deg, rgba(238,82,83,1) 0%, rgba(255,159,67,1) 40%, rgba(236,160,72,1) 60%, rgba(16,172,132,1) 100%);
  }
}


/*
Mise en formes des sections
*/
.boardGame {
  flex-grow: 0;
}
.sablier {
  flex-basis: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 5px 10px 5px;
}

.informations {
  flex-basis: 33%;
  padding: 5px;
}

// le sablier suffisant, je ne l'affiche pas
#countDown {
  display: none;
}

/*
Surprise :D
*/
.konami {
  background-color: yellow;
}
.konami .informations {
  background-color: rebeccapurple;
}
.konami .sablier {
  background-color: chartreuse;
}
.konami .boardGame {
  background-color: hotpink;
}

