
.card {
	height:100px;
	width:100px;
	margin :10px;
}
.card--front{
	
	background-image: url('./card_back.png');
	background-repeat: no-repeat;
	background-position: center; 
	
	border-radius : 25px;
	height:100px;
	width:100px;
}
.card--apple {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	background-position: 0px 0px;
	
	border-radius : 25px;
	height:100px;
	width:100px;
}

.card--banana {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -100px;
	height:100px;
	width:100px;
}

.card--apricot {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -200px;
	height:100px;
	width:100px;
}
.card--greenlime {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -300px;
	height:100px;
	width:100px;
}
.card--grenade {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -400px;
	height:100px;
	width:100px;
}
.card--peach {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -500px;
	height:100px;
	width:100px;
}
.card--lime {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -600px;
	height:100px;
	width:100px;
}
.card--fraise {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -700px;
	height:100px;
	width:100px;
}
.card--pommeverte {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -800px;
	height:100px;
	width:100px;
}
.card--peachorange {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -900px;
	height:100px;
	width:100px;
}
.card--raisin {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1000px;
	height:100px;
	width:100px;
}
.card--pasteque {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1100px;
	height:100px;
	width:100px;
}
.card--prune {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1200px;
	height:100px;
	width:100px;
}
.card--poire {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1300px;
	height:100px;
	width:100px;
}
.card--cerise {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1400px;
	height:100px;
	width:100px;
}
.card--framboise {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1500px;
	height:100px;
	width:100px;
}
.card--mangue {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1600px;
	height:100px;
	width:100px;
}
.card--cerisejaune {
	background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
	border-radius : 25px;
	background-position: 0px -1700px;
	height:100px;
	width:100px;
}

