.card--apple, .card--banana, .card--apricot, .card--greenlime, .card--grenade, .card--peach, .card--lime, .card--fraise, .card--pommeverte, .card--peachorange, .card--raisin, .card--pasteque, .card--prune, .card--poire, .card--cerise, .card--framboise, .card--mangue, .card--cerisejaune {
  border-radius: 25px;
  height: 100px !important;
  width: 100px !important;
}

.card--apple, .card--banana, .card--apricot, .card--greenlime, .card--grenade, .card--peach, .card--lime, .card--fraise, .card--pommeverte, .card--peachorange, .card--raisin, .card--pasteque, .card--prune, .card--poire, .card--cerise, .card--framboise, .card--mangue, .card--cerisejaune {
  background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
}

.card, .backCard {
  border-radius: 25px;
}

body {
  display: flex;
  justify-content: center;
  background: #222f3e;
  color: white;
}

.text--aucun-score {
  font-style: italic;
}

/*
Mise en forme des cartes
*/
.card {
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.card--active {
  cursor: not-allowed;
}

.backCard {
  background-image: url("card_back.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card--apple {
  background-position: 0px 0px;
}

.card--banana {
  background-position: 0px -100px;
}

.card--apricot {
  background-position: 0px -200px;
}

.card--greenlime {
  background-position: 0px -300px;
}

.card--grenade {
  background-position: 0px -400px;
}

.card--peach {
  background-position: 0px -500px;
}

.card--lime {
  background-position: 0px -600px;
}

.card--fraise {
  background-position: 0px -700px;
}

.card--pommeverte {
  background-position: 0px -800px;
}

.card--peachorange {
  background-position: 0px -900px;
}

.card--raisin {
  background-position: 0px -1000px;
}

.card--pasteque {
  background-position: 0px -1100px;
}

.card--prune {
  background-position: 0px -1200px;
}

.card--poire {
  background-position: 0px -1300px;
}

.card--cerise {
  background-position: 0px -1400px;
}

.card--framboise {
  background-position: 0px -1500px;
}

.card--mangue {
  background-position: 0px -1600px;
}

.card--cerisejaune {
  background-position: 0px -1700px;
}

/*
  Mise en forme du sablier
*/
#countDown {
  display: none;
}

.progressBar--back {
  height: 400px;
  background-color: #576574;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.progressBar--color {
  height: 400px;
  background: #ee5253;
  background: linear-gradient(0deg, #ee5253 0%, #ff9f43 40%, #eca048 60%, #10ac84 100%);
}

/*
Mise en formes des sections
*/
.boardGame {
  flex-grow: 0;
}

.sablier {
  flex-basis: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 5px 10px 5px;
}

.informations {
  flex-basis: 33%;
  padding: 5px;
}

/*
Popup gagnant
*/
#winner-popup {
  display: none;
  flex-direction: column;
  align-content: space-around;
  height: 130px;
  width: 250px;
  border: #10ac84 solid 3px;
  background-color: #1dd1a1;
  position: absolute;
  top: 180px;
  left: 40%;
}

#winner-popup--title {
  background-color: #10ac84;
  padding: 6px;
  font-size: 1.4em;
}

#winner-popup p {
  padding-left: 10px;
}

#winner-popup--form {
  padding-left: 10px;
}

/*
Surprise :D
*/
.konami {
  font-family: 'Comic Sans MS';
  background-image: url("https://media.tenor.com/images/ed8c3288a67e36cff1cf15f6600ab1f6/tenor.gif");
}

.konami .informations {
  background-color: rebeccapurple;
}

.konami .sablier {
  background-color: chartreuse;
}

.konami .boardGame {
  background-color: hotpink;
}
