.card--apple, .card--banana, .card--apricot, .card--greenlime, .card--grenade, .card--peach, .card--lime, .card--fraise, .card--pommeverte, .card--peachorange, .card--raisin, .card--pasteque, .card--prune, .card--poire, .card--cerise, .card--framboise, .card--mangue, .card--cerisejaune {
  border-radius: 25px;
  height: 100px !important;
  width: 100px !important;
}

.card--apple, .card--banana, .card--apricot, .card--greenlime, .card--grenade, .card--peach, .card--lime, .card--fraise, .card--pommeverte, .card--peachorange, .card--raisin, .card--pasteque, .card--prune, .card--poire, .card--cerise, .card--framboise, .card--mangue, .card--cerisejaune {
  background-image: url("https://static.oclock.io/challenges/tests-techniques/cards.png");
}

.card {
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.card--active {
  cursor: not-allowed;
}

.backCard {
  border-radius: 25px;
  background-image: url("card_back.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card--apple {
  background-position: 0px 0px;
}

.card--banana {
  background-position: 0px -100px;
}

.card--apricot {
  background-position: 0px -200px;
}

.card--greenlime {
  background-position: 0px -300px;
}

.card--grenade {
  background-position: 0px -400px;
}

.card--peach {
  background-position: 0px -500px;
}

.card--lime {
  background-position: 0px -600px;
}

.card--fraise {
  background-position: 0px -700px;
}

.card--pommeverte {
  background-position: 0px -800px;
}

.card--peachorange {
  background-position: 0px -900px;
}

.card--raisin {
  background-position: 0px -1000px;
}

.card--pasteque {
  background-position: 0px -1100px;
}

.card--prune {
  background-position: 0px -1200px;
}

.card--poire {
  background-position: 0px -1300px;
}

.card--cerise {
  background-position: 0px -1400px;
}

.card--framboise {
  background-position: 0px -1500px;
}

.card--mangue {
  background-position: 0px -1600px;
}

.card--cerisejaune {
  background-position: 0px -1700px;
}

.progressBar--back {
  background-color: #ddd;
}

.progressBar--color {
  width: 100%;
  height: 30px;
  background-color: #ad2222;
}
